<!DOCTYPE html>

<div class="card limit-size" ng-init="ind=0">

  <span ng-include="'com/home/mods/tut/' + ind + '.html'"></span>

  <div class="button-bar padding">
    <button class="button button-full button-assertive" ng-click="ind = ind-1" ng-disabled="ind===0">
      <i class="icon ion-chevron-left"></i>
      Back
    </button>
    <button class="button button-full button-positive" ng-click="ind = ind+1" ng-disabled="(ind===3) || !home.tutGo || !home.filler.fn">
      Next
      <i class="icon ion-chevron-right"></i>
    </button>
  </div>
</div>

<div class="padding text-center">

  <button class="button button-block button-large button-balanced limit-size" ng-if="ind===3" ng-click="home.nextStep()">
    <i class="icon ion-checkmark"></i>
    Proceed
  </button>

  <button class="button button-block button-royal limit-size" ng-click="home.nextStep()" ng-if="ind<3">
    <i class="icon ion-forward"></i>
    Skip
  </button>
</div>
