<!DOCTYPE html>

<div class="card text-center limit-size">
  <ion-item class="item-balanced">
    <b>Step 2</b>
  </ion-item>
  <ion-item class="item-text-wrap">
    Do any Household Members (including you) currently participate in one or more of the following assistance programs:
    <b>SNAP</b>,
    <b>TANF</b>, or
    <b>FDPIR</b>?
  </ion-item>
</div>

<!-- A checkbox for all these option down here -->

<div class="card limit-size">
  <div class="item row responsive-sm text-center">
    <div class="col col-33">
      <div class="item item-toggle" ng-class="{'item-energized': snap}">
        SNAP
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="snap">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input" ng-show="snap">
        <input class="col" type="text" placeholder="Please Provide Your Case Number" ng-model="caseNumber.snap" ng-change="console.log(childCount)">
      </div>
    </div>
    <div class="col col-33">
      <div class="item item-toggle" ng-class="{'item-assertive': tanf}">
        TANF
        <label class="toggle toggle-energized">
          <input type="checkbox" ng-model="tanf">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input" ng-show="tanf">
        <input class="col" type="text" placeholder="Please Provide Your Case Number" ng-model="caseNumber.tanf" ng-change="console.log(childCount)">
      </div>
    </div>
    <div class="col col-33">
      <div class="item item-toggle" ng-class="{'item-royal': fdpir}">
        FDPIR
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="fdpir">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input" ng-show="fdpir">
        <input class="col" type="text" placeholder="Please Provide Your Case Number" ng-model="caseNumber.fdpir" ng-change="console.log(childCount)">
      </div>
    </div>
  </div>
</div>

<div class="card limit-size">
  <div class="item item-text-wrap item-assertive">
    Info Section
  </div>

  <ion-item class="item-text-wrap text-center">
    <p>
      For more info regarding each program, please expand each section below:
    </p>
  </ion-item>

  <div class="item row responsive-sm text-center">
    <div class="col col-33">
      <div class="item">
        <a href="http://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program-snap" target="_blank">
        <button class="button button-block button-energized" name="button">
          SNAP
        </button></a>
      </div>
    </div>
    <div class="col col-33">
      <div class="item">
        <a href="http://www.acf.hhs.gov/programs/ofa/programs/tanf" target="_blank">
        <button class="button button-block button-assertive" name="button">
          TANF
        </button></a>
      </div>
    </div>
    <div class="col col-33">
      <div class="item">
        <a href="http://www.fns.usda.gov/fdpir/food-distribution-program-indian-reservations-fdpir" target="_blank">
        <button class="button button-block button-royal" name="button">
          FDPIR
        </button></a>
      </div>
    </div>
  </div>

</div>

<div class="padding">
  <button class="button button-block button-royal limit-size" ng-click="home.nextStep()">
    <i class="icon ion-forward"></i>
    Save and Proceed
  </button>
</div>
