<!DOCTYPE html>
<ion-modal-view>
  <ion-nav-bar class="app-bg">
    <ion-nav-title>
      <!-- Application for <b>Free</b> and <b>Reduced</b> Price School Meals -->
      Add Signature

    </ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="false" class="text-center">
    <!-- <div class="card"> -->
    <div class="item item-body">
      Please use your finger or stylus to sign below
    </div>
    <canvas id="signature-canvas" class="sign">
    </canvas>
    <!-- </div> -->

    <div class="button-bar padding">
      <button class="button" ng-click="clear(); signatureModal.hide()">
        Cancel
      </button>

      <button class="button" ng-click="clear()">
        Clear
      </button>

      <button class="button button-positive" ng-click="save()">
        Accept
      </button>
    </div>
  </ion-content>
</ion-modal-view>
