<!DOCTYPE html>
<div class="card text-center">
  <ion-item class="item-text-wrap">
    <!-- XXX: Somethiing more catchy here -->
    Do any Household Members (including you) currently participate in one or more of the following assistance programs: <b>SNAP</b>, <b>TANF</b>, or <b>FDPIR</b>?
  </ion-item>
</div>

<!-- A checkbox for all these option down here -->

<div class="card">
  <div class="item row text-center">
    <div class="col col-33">
      <div class="item item-toggle" ng-class="{'item-energized': snap}">
        SNAP
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="snap">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input">
        <input ng-show="snap" class="col" type="text" placeholder="Please Provide Your Case Number" ng-model="caseNumber.snap" ng-change="console.log(childCount)">
      </div>
    </div>
    <div class="col col-33">
      <div class="item item-toggle" ng-class="{'item-assertive': tanf}">
        TANF
        <label class="toggle toggle-energized">
          <input type="checkbox" ng-model="tanf">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input">
        <input ng-show="tanf" class="col" type="text" placeholder="Please Provide Your Case Number" ng-model="caseNumber.tanf" ng-change="console.log(childCount)">
      </div>
    </div>
    <div class="col col-33">
      <div class="item item-toggle" ng-class="{'item-royal': fdpir}">
        FDPIR
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="fdpir">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input">
        <input ng-show="fdpir" class="col" type="text" placeholder="Please Provide Your Case Number" ng-model="caseNumber.fdpir" ng-change="console.log(childCount)">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap item-assertive">
  </div>

  <div class="button-bar">
    <!-- <button class="button button-positive icon-left" ng-disabled="!caseNumber">
      <i class="icon ion-checkmark"></i> Yes
    </button> -->

    <!-- <button class="button button-balanced">
      No <i class="icon ion-chevron-right"></i>
    </button> -->
  </div>

  <button class="button button-full button-balanced" ng-click="recipe.finish()">
    <b>NEXT</b> <i class="icon ion-chevron-right"></i>
  </button>
</div>

<div class="card">
  <ion-item>
    For more info regarding each program, please tap each button below:
  </ion-item>
  <div class="button-bar">
    <button class="button">
      SNAP
    </button>
    <button class="button">
      TANF
    </button>
    <button class="button">
      FDPIR
    </button>
  </div>
</div>
